<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033827984975-ua9j4qd5veumddmfr4i6i5mf69jtkf94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033827984975-ua9j4qd5veumddmfr4i6i5mf69jtkf94</string>
	<key>API_KEY</key>
	<string>AIzaSyBAXC-UZNVnsu-ReNzAje_0EFDvHKpUwiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1033827984975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doIt</string>
	<key>PROJECT_ID</key>
	<string>do-it-efe08</string>
	<key>STORAGE_BUCKET</key>
	<string>do-it-efe08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033827984975:ios:6a2d8fafb285a65c29ec3a</string>
</dict>
</plist>